h1{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-style:normal;
  text-align: center;
  color: gold;
}

ul
{
  list-style-type: none;
  margin:0;
  padding:0;
  text-decoration:none;

}

li{
  display:inline;

}

li a {
  padding-right: 10px;
  color:black;
  display: inline;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-decoration:none;


}

li a:hover{
  text-decoration:none;
  transition-duration: 3s;
  margin: 10px;
  color:#ffffff;

}



.titles{
  text-align:center;
  font-size: 35px;
  color: gold;
  font-family: 'Sacramento', cursive;

}
