.boxmodel{
  background-color: white;
  width:1415px;
  text-align: center;
  border:5px solid gold;

}
h1{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-style:normal;
  text-align: center;
  color: gold;
}

ul
{
  list-style-type: none;
  margin:0;
  padding:0;
  text-decoration:none;

}

li{
  display:inline;

}

li a {
  padding-right: 15px;
  color:black;
  display: inline;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-decoration:none;


}

li a:hover{
  text-decoration:none;
  transition-duration: 1s;
  margin: 10px;
  color:olive;

}



.titles{
  text-align:center;
  font-size: 35px;
  color: gold;
  font-family: 'Sacramento', cursive;

}

.intro{
  text-align:center;
  color; black;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

}

a:link, a:visited{
  text-decoration: none;
  font-size: 15px;
  color:black;
  padding:14px 25px;
  display: inline-block;
}

a:hover{
  background-color:gold;
}
